/* Page Layout */
/* Background handling */
img.bacg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 800px;

  opacity: ;
  /* Set up proportionate scaling */
  height: auto;
	

  /* Set up positioning */
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=60);
}
	#landing {
		position: absolute;
		z-index: 1;
		margin: 0 auto;
		width: 600px;
		padding-top: 150px;
	}
	#navigation {
		margin-left: 50px;
	}
	#welcome {
		float: left;
		padding-bottom: 15px;
		width: 100%;
	}
/* Text Controls */
	.title {
		float: left;
		width: 100%;
		font-family: KlinicSlabBook;
		font-size: 50px;
		color: white;
		text-align: center;
		border-bottom: .75px solid white; /* #313131 */
	}
		#titleLine {
			width: 200px;
			height: 60px;
			margin-bottom: 10px;
			background: hsla(217, 8%, 28%, 0.75);	
		}
	.titleSub {
		float: left;
		width: 100%;
		padding-top: 3px;
		font-family: KlinicSlabBook;
		font-size: 20px;
		color: white;
		text-align: center;
	}
		#subLine {
			width: 150px;
			height: 25px;
			margin-top: 10px;
			background: hsla(217, 8%, 28%, 0.75);	
		}
	/* Slogan Motto Thing */
		#motto {
			float: left;
			font-family: KlinicSlabBook;
			color: white;
			font-size: 19px;
			padding-top: 60px;
			text-align: center;
			width: 100%;
		}
			#mottoLine {
				width: 240px;
				height: 45px;
				margin-top: 10px;
				margin-bottom: 100px;
				background: hsla(217, 8%, 28%, 0.75);	
			}
	/* Footer */
		#footer {
			float: left;
			padding-top: 20px;
			text-align: center;
			font-family: Avenir-Light;
			font-size: 14px;
			color: black;
			width: 100%;
		}
/* UI Elements */
	.ring {
		/* Aesthetics */
		float: left;
		display: table-cell;
		text-decoration: none;
		background: #292929;
		/* Dynamics */
		margin: 10px;
		width:100px;
		height:100px;
		border-radius:50px;
		line-height:100px;
		text-align:center;
		-o-transition:.2s;
		-ms-transition:.2s;
		 -moz-transition:.2s;
		 -webkit-transition:.2s;
		 transition:.2s;
	}
		.ring:hover {
			/* Aesthetics */
			display: table-cell;
			text-decoration: none;
			/* Dynamics */
			line-height:100px;
			text-align:center;
			color: white;
		}
	#ringCode {
		float: left;
		border: 1.5px solid #0D74FF;
		color: white;
		text-decoration: none;
		font-family: Avenir-Light;
		font-size: 18px;
	}
		#ringCode:hover {
			float: left;
			background: #0D74FF;
			color: white;
			font-family: Avenir-Medium;
			text-decoration: none;
		}
	#ringFlickr {
		float: left;
		border: 1.5px solid #33E72F;
		color: white;
		text-decoration: none;
		font-family: Avenir-Light;
		font-size: 18px;
		text-decoration: none;
	}
		#ringFlickr:hover {
			float: left;
			background: #33E72F;
			color: white;
			font-family: Avenir-Medium;
		}
	#ringBlog { 
		float: left;
		border: 1.5px solid #E70A04;
		color: white;
		font-family: Avenir-Light;
		font-size: 18px;
		text-decoration: none;
	}
		#ringBlog:hover {
			float: left;
			background: #E70A04;
			color: white;
			font-family: Avenir-Medium;
		}
	#ringAbout { 
		float: left;
		border: 1.5px solid #F58120;
		color: white;
		font-family: Avenir-Light;
		font-size: 18px;
		text-decoration: none;
	}
		#ringAbout:hover {
			float: left;
			background: #F58120;
			color: white;
			font-family: Avenir-Medium;
		}
		
	#copy_slot {
		margin: 80px;
		margin-top: 360px;
	}	
	
	#copyfooter {
		margin: 10px;
		font-family: Avenir;
		font-size: 12px;
		text-align: center;
		color: white;
	}
/* Font Packages */
	/* Klinic Fonts */	
		@font-face {
			font-family: KlinicSlabBook;
			src:url(fonts/Klinic/KlinicSlabBook.otf);
		}
		@font-face {
			font-family: KlinicSlabBoldItalic;
			src:url(fonts/Klinic/KlinicSlabBoldIt.otf);
		}
		@font-face {
			font-family: KlinicSlabBookItalic;
			src:url(fonts/Klinic/KlinicSlabBookIt.otf);
		}
		@font-face {
			font-family: KlinicSlabMedium;
			src:url(fonts/Klinic/KlinicSlabMedium.otf);
		}
		@font-face {
			font-family: Avenir;
			src:url(fonts/Avenir.ttc);
		}
		